@model IEnumerable<Controlprocesos.Model.ODPProcess>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de procesos</h2>

<p>
    @Html.ActionLink("Asignar Proceso", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ODP.NODP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Process.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ODP.NODP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Process.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @Controlprocesos.Enums.ODPProcessStatus.GetWithValue(item.Status).Name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            <form action="@Url.Action("ChangeODPProcessStatus", "ODPProcesses")" method="post">
                <input type="hidden" name="ODPProcessId" value="@item.Id" />
                <label>
                    En espera
                    @if (item.Status == 2) {
                        <input class="changeStatus" type="radio" name="status" value="2" checked="checked" />
                    } else {
                        <input class="changeStatus" type="radio" name="status" value="2" />
                    }
                </label>
                |
                <label>
                    En proceso
                    @if (item.Status == 1) {
                        <input class="changeStatus" type="radio" name="status" value="1" checked="checked" />
                    } else {
                        <input class="changeStatus" type="radio" name="status" value="1" />
                    }
                </label>
                |
                <label>
                    Completado
                    @if (item.Status == 3) {
                        <input class="changeStatus" type="radio" name="status" value="3" checked="checked" />
                    } else {
                        <input class="changeStatus" type="radio" name="status" value="3" />
                    }
                </label>
            </form>
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", "ODPProcesses", new { id=item.Id }, null) |
            @Html.ActionLink("Detalles", "Details", "ODPProcesses", new { id=item.Id }, null) |
            @Html.ActionLink("Eliminar", "Delete", "ODPProcesses", new { id=item.Id }, null)
        </td>
    </tr>
}

</table>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.changeStatus').change(function (e) {
                $(this)[0].form.submit();
            })
        })
    </script>
}